<section>
    <h2>Create New Blog</h2>

    <form class="new-blog-form">
        <div>
            <label for="blog-title"> Enter a Blog Title</label>
            <br />
            <input type="text" id="blog-title" name="blog-title" />
        </div>
        <div>
            <textarea id="blog-text" placeholder="Enter your blog contents here"></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</section>

<section>
    <h2>Your Blogs</h2>
    <ol>
        {{#each blogs as |blog|}}
        <li id="a-blog">
            <article class="blog">
                <div class="title">
                    <h1>{{title}}</h1>
                </div>
                <div class="meta">
                    by {{user.username}} on
                    {{blog.created_at}}
                </div>
                <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit Blog</a>
                <br />
                <br />
                <button type="submit" class="delete-blog" id="{{blog.id}}">Delete Blog</button>
            </article>
        </li>
        {{/each}}
    </ol>
</section>

<script src="/javascript/add-blog.js"></script>
<script src="/javascript/delete-blog.js"></script>