<div class="container">
    <div class="row">
        <section class="col-lg-9 blog-creation">
            <h2>Create New Blog</h2>

            <form class="new-blog-form">
                <div>
                    <label for="blog-title" class="blog-title"> Enter a Blog Title</label>
                    <br />
                    <input type="text" id="blog-title" name="blog-title" />
                </div>
                <div>
                    <textarea id="blog-text" placeholder="Enter your blog contents here"></textarea>
                </div>
                <button type="submit" class="btn sub-btn">Submit</button>
            </form>
        </section>

        <section class="col-lg-3">
            <h4>Your Blogs</h4>
            <ol>
                {{#each blogs as |blog|}}
                <li id="{{blog.id}}">
                    <article class="blog">
                        <div class="title">
                            <h3>{{title}}</h3>
                        </div>
                        <div class="meta">
                            by {{user.username}} on
                            {{blog.created_at}}
                        </div>
                        <a href="/dashboard/edit/{{blog.id}}" class="edit-link">Edit Blog</a>
                        <br />
                        <br />
                    </article>
                </li>
                {{/each}}
            </ol>
        </section>
    </div>
</div>

<script src="/javascript/add-blog.js"></script>
