<article class="post">
    <div class="title">
        <h2>{{blog.title}}</h2>
    </div>
    <div class="meta">
        By {{blog.user.username}} on
        {{blog.created_at}}
        |
        {{blog.comment.length}} comment(s)
    </div>
    <div class="content">
        {{blog.blog_post}}
    </div>
</article>
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" placeholder="Enter a comment"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments blog.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}